html{
  scroll-behavior: smooth;
}

.intro-text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.card {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-overlay {
  opacity: 1;
}

.play-button {
  font-size: 40px; /* Adjust the size of the play button */
  color: white;
  text-decoration: none;
  background-color: #000;
  padding: 10px 15px;
  border-radius: 50%;
}


.fade{
    border-radius: 8px;
    border: 0.6px solid rgba(0, 0, 0, 0.10);
    background: rgba(244, 244, 244, 0.40);
}

.panel-tab{
    border-radius: 8px; 
    border: 0.6px solid rgba(0, 0, 0, 0.10); 
    background: rgba(244, 244, 244, 0.40);
} 

.gallery-pic{
    border-radius: 15px;
}
/* styles.css */

/* Add your existing styles for the grid if any */

/* styles.css */

/* styles.css */

/* styles.css */

.gallery-item {
    position: relative;
    overflow: hidden;
  }
  
  .gallery-pic {
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item:hover .gallery-pic {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    margin: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: #3E64FF; /* Set background color to blue */
    border-radius: 5px;
    padding: 5px;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  .jpg-text {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
  }

  .vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.testimony-img{
  border-radius: 50%; 
  border: solid 3px white;
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 22%;
  transform: translateX(-50%);
  width: 2px;
  height: 180px;
  background-color: #3E64FF;;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.left-section {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.blurry-background {
  width: 100%;
  height: 100%;
  filter: blur(8px);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.form-text{
  font-weight: 500;
  text-align: justify;
}  

footer{
  width: 1440px; 
  height: 299px; 
  flex-shrink: 0; 
  background: rgba(62, 100, 255, 0.10);
}

.connoisseur{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

links{
  display: inline-flex;
  
  align-items: flex-start;
  gap: 29px;
}

.footer-links{
  color: black;
  text-decoration: underline;
  font-weight: 500;
  font-size: 12px;
}

.no-line{
  color: black; 
  font-size: 12px; 
  font-weight: 500;
}

.card-hidden {
  display: none;
}

/* MOBILE VIEW */

@media only screen and (max-width: 576px) {
  html{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  .font12{
    font-size: 12px;
  }

  .small-com{
    font-size: 15px;
  }

  .card-img-top{
    
  }
}


@media (max-width: 768px) {



  #home {
    background: url('img/hero-img.jfif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 544px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-column {
    display: none;
  }

  .extra-card {
    display: none;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .extra-card {
    animation-duration: 0.5s;
  }
  
  
}

/* TABLET VIEW */

@media (min-width: 768px) {
  .img-md-right {
    display: flex;
    justify-content: flex-end;
  }
}
