.intro-text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.fade{
    border-radius: 8px;
    border: 0.6px solid rgba(0, 0, 0, 0.10);
    background: rgba(244, 244, 244, 0.40);
}

.panel-tab{
    border-radius: 8px; 
    border: 0.6px solid rgba(0, 0, 0, 0.10); 
    background: rgba(244, 244, 244, 0.40);
} 

.gallery-pic{
    border-radius: 15px;
}
/* styles.css */

/* Add your existing styles for the grid if any */

/* styles.css */

/* styles.css */

/* styles.css */

.gallery-item {
    position: relative;
    overflow: hidden;
  }
  
  .gallery-pic {
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item:hover .gallery-pic {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    margin: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: #3E64FF; /* Set background color to blue */
    border-radius: 5px;
    padding: 5px;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  .jpg-text {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
  }

  .vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.testimony-img{
  border-radius: 50%; 
  border: solid 3px white;
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 22%;
  transform: translateX(-50%);
  width: 2px;
  height: 180px;
  background-color: #3E64FF;;
}
  

@media (max-width: 576px) {
    .background {
        background: url('img/hero-img.jfif') no-repeat center center / cover;
        color: white; /* Change text color to white for better visibility */
    }
}